.about-me {
  @include desktop-padding;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;

  .about-me__title {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .about-me__info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -2px;
      width: 2px;
      height: 100%;
      background-color: $light-grey;
    }
  }

  .about-me__name {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
  }

  .about-me__photo {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba($black, 0.3);
  }

  .about-me__greeting-container {
    width: 60%;
    padding-left: 50px;
    box-sizing: border-box;
  }

  .about-me__greeting {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
    color: $main-grey;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $laptop-width-breakpoint) {
  .about-me {
    .about-me__info-container {
      flex-direction: row;
      width: 100%;
      margin-bottom: 40px;

      &::after {
        display: none;
      }
    }

    .about-me__photo-container {
      position: relative;
      width: 50%;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $light-grey;
      }
    }

    .about-me__info {
      width: 50%;
    }

    .about-me__photo {
      width: 179px;
      height: 179px;
      margin-bottom: 0;
    }

    .about-me__social-list {
      justify-content: center;
    }

    .about-me__greeting-container {
      width: 100%;
      padding-left: 0;
    }

    .about-me__greeting {
      font-size: 18px;

      &--first {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: $tablet-width-breakpoint) {
  .about-me {
    @include mobile-padding;

    .about-me__info-container {
      position: relative;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    .about-me__photo-container {
      width: auto;
      margin-right: 100px;

      &::after {
        display: none;
      }
    }

    .about-me__info {
      width: auto;
      margin-right: 100px;
    }

    .about-me__name {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 24px;
    }

    .about-me__photo {
      margin-bottom: 25px;
    }

    .about-me__social-list {
      position: absolute;
      top: -20px;
      right: 50%;
      transform: translateX(170px);
    }

    .about-me__greeting-container {
      padding: 0 15px;
    }

    .about-me__greeting {
      margin-bottom: 10px;
      font-size: 14px;
      text-align: justify;
    }
  }
}
