.contacts {
  @include desktop-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;

  .contacts__title {
    flex-basis: 100%;
    margin-bottom: 60px;

    &::before {
      background-image: url('../../img/mail.svg');
    }

    &::after {
      content: 'Contacts';
    }
  }

  .contacts__motto {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .contacts__details {
    margin-left: 10%;
    padding-top: 10px;
  }

  .contacts__form {
    margin-right: 70px;
  }

  .contacts__contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 50px;
  }

  .contacts__type {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  .contacts__mail {
    padding-bottom: 4px;
    color: $main-grey;
    font-size: 18px;
    border-bottom: 1px solid $main-purple;
  }
}
