.education {
  @include desktop-padding;
  padding-top: 40px;
  padding-bottom: 40px;

  .education__title {
    margin-bottom: 75px;

    &::before {
      width: 36px;
      height: 36px;
      background-image: url('../../img/library.svg');
      background-size: cover;
    }

    &::after {
      content: 'Education';
    }
  }

  .education__table {
    width: calc(100% - 110px);
    margin: 0 55px 60px;
    border-collapse: collapse;
    border: 2px solid $mid-grey;
  }

  td {
    padding: 30px;
    border-bottom: 1px solid $mid-grey;
  }

  .education__inner {
    min-width: 60px;
    padding: 0;
    vertical-align: top;
    border: none;
  }

  .education__type {
    vertical-align: top;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  small {
    display: none;
  }

  .education__organisation {
    font-size: 18px;
  }

  .education__name {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .education__year {
    font-size: 18px;
    text-align: center;
  }

  .education__certificates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-left: 55px;
    padding-left: 30px;
    padding-right: 15px;
    background-color: $light-grey;
    border: 1px solid $mid-grey;
  }

  .education__label {
    margin: 0;
    padding: 12px 0;
    font-size: 18px;
    color: rgba($main-grey, 0.8);
  }

  .education__expand-button {
    position: relative;
    width: 50px;
    height: 32px;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    font-size: 0;
    line-height: 0;

    border: none;
    opacity: 0.8;
    background-color: transparent;
    background-image: url('../../img/right-chevron-.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 32px;
      opacity: 0.9;

      background-image: url('../../img/right-chevron-.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: transform 0.3s;
    }
  }

  .education__expand-button:hover,
  .education__expand-button:focus {
    &::after {
      transform: translateX(15px);
    }
  }
}

@media (max-width: $laptop-width-breakpoint) {
  .education {
    .education__table {
      width: 100%;
      margin: 0;
      margin-bottom: 60px;
    }

    .education__type {
      display: none;
    }

    small {
      display: inline;
      position: relative;
      top: -8px;
      left: 6px;
      line-height: 18px;
      color: rgba($main-grey, 0.65);
      font-weight: normal;
    }

    .education__year {
      padding-left: 0;
    }

    .education__certificates {
      width: 50%;
      margin-left: 0;
    }
  }
}

@media (max-width: $tablet-width-breakpoint) {
  .education {
    padding: 40px 0;

    .education__title {
      margin: 0 15px 50px;
    }

    .education__table {
      margin-bottom: 30px;
      border-right: none;
      border-left: none;
    }

    .education__organisation {
      padding-right: 0;
      padding-left: 15px;
      font-size: 16px;
    }

    .education__year {
      padding-right: 15px;
      font-size: 16px;
    }

    .education__certificates {
      border-left: none;
    }

    .education__label {
      font-size: 16px;
    }

    .education__expand-button {
      width: 50px;
      background-size: 25px;

      &::after {
        width: 50px;
        background-size: 25px;
      }
    }
  }
}

@media (max-width: $mobile-width-breakpoint) {
  .education {
    .education__title {
      margin-bottom: 20px;
    }

    .education__organisation {
      padding-bottom: 20px;
      font-size: 14px;
    }

    .education__year {
      padding-bottom: 20px;
      font-size: 14px;
    }

    .education__inner {
      min-width: 45px;
    }

    .education__certificates {
      width: 60%;
      padding-right: 0;
    }

    .education__label {
      padding: 8px 0;
      font-size: 12px;
    }
  }
}
