.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($main-grey, 0.8);

  .footer__copyright {
    margin: 0;
    margin-right: 100px;
    padding: 20px 0;
    color: $white;
    text-align: center;
  }

  .footer__up {
    position: relative;
    color: $white;
    transition: all 0.2s;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: $white;
      opacity: 0;

      transform: translateY(15px);
      transition: transform 0.2s, opacity 0.1s;
    }

    &:hover, &:focus {
      letter-spacing: 1px;
      transform: scale(1.2);

      &::after {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &:active {
      opacity: 0.6;
    }
  }
}
