.form {
  width: 400px;

  .form__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid $dark-grey;
    border-radius: 0;
    padding: 10px 15px;
    box-sizing: border-box;

    &:focus {
      border: 1px solid $main-purple;
      outline: none;
    }
  }

  .form__field-container {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
  }

  .form__message {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid $dark-grey;
    border-radius: 0;

    &:focus {
      border: 1px solid $main-purple;
      outline: none;
    }
  }

  .form__label {
    position: absolute;
    left: 20px;
    font-size: 18px;
    line-height: 30px;
    color: rgba($main-grey, 0.5);
    transition: transform 0.25s;
    cursor: text;

    &--input {
      top: 50%;
      transform: translateY(-50%);
    }

    &--message {
      top: 15px;
    }
  }

  .form__field:focus + label,
  .form__message:focus + label {
    transform: translate(-20px, -50px) scale(0.85);
    color: $main-purple;
  }

  .form__submit {
    padding: 15px;
    font-size: 16px;
    color: rgba($main-grey, 0.85);
    text-transform: uppercase;

    border: 2px solid rgba($main-grey, 0.7);
    background: none;
    transition: font-weight 0.3s, letter-spacing 0.3s;

    &:hover,
    &:focus {
      color: $main-purple;
      border-color: $main-purple;
      font-weight: bold;
      letter-spacing: 1px;
      outline: none;
    }

    &:active {
      color: rgba($main-purple, 0.7);
    }
  }
}

@media (max-width: $laptop-width-breakpoint) {
  .form {
    width: 50%;
  }

  .form__label {
    font-size: 16px;
  }

  .form__submit {
    font-size: 14px;
  }
}

@media (max-width: $tablet-width-breakpoint) {
  .form {
    width: 100%;

    .form__field-container {
      margin-bottom: 30px;

      &:nth-child(2){
        margin-bottom: 50px;
      }
    }
  }
}
