.main-nav {
  @include list-reset;
  display: flex;

  .main-nav__item {
    margin-right: 35px;
  }

  .main-nav__link {
    position: relative;
    display: block;
    padding: 23px 0;
    color: $white;
    text-transform: uppercase;
    transition: transform 0.3s;

    &::after {
      content: '...';
      position: absolute;
      right: -15px;
      bottom: 23px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover,
    &:focus {
      transform: translateX(-10px);
      outline: none;

      &::after {
        opacity: 1;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }
}
