.project {
  position: relative;
  width: 400px;
  padding: 22px 18px 12px;
  border: 2px solid $mid-grey;

  .project__info {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 70px 18px 12px;

    text-align: center;
    background-color: rgba($dark-grey, 0.97);
  }

  .project__title {
    margin: 0;
    margin-bottom: 30px;
    color: $white;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .project__desc {
    margin: 0;
    margin-bottom: 40px;
    color: $white;
  }

  .project__link {
    color: $white;
    padding: 6px 15px 6px 60px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 20px;

    &:first-of-type {
      margin-right: 10px;
    }

    &:hover {
      color: $main-purple;
      background-color: $white;
    }

    &:active {
      background-color: rgba($white, 0.7);
    }

    &--result:hover {
      background-image: url('../../img/eye.svg');
      background-size: 30px 24px;
      background-position: 13px 8px;
      background-repeat: no-repeat;
    }

    &--source:hover {
      background-image: url('../../img/code.svg');
      background-size: 24px;
      background-position: 18px 8px;
      background-repeat: no-repeat;
    }
  }

  .project__image {
    display: block;
    margin: 0 auto 22px;
  }

  .project__features-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;

    &--reduced {
      justify-content: flex-start;

      .project__feature {
        margin-right: 10px;
      }
    }
  }

  .project__feature {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    font-size: 18px;
    color: $white;
    background-color: rgba($main-purple, 0.8);
  }
}

.project:hover .project__info,
.project:focus .project__info {
  display: block;
}

@media (max-width: $laptop-width-breakpoint) {
  .project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    padding: 20px 20px 10px;

    .project__info {
      position: static;
      display: block;
      //flex-shrink: 0;
      width: 40%;
      padding: 0;
      padding-top: 20px;

      background-color: $white;
    }

    .project__title {
      color: $main-grey;
      font-size: 20px;
      line-height: 24px;
      text-transform: none;
    }

    .project__desc {
      color: $main-grey;
      width: 100%;
    }

    .project__link {
      color: $main-grey;
    }

    .project__image-container {
      width: 60%;
      box-sizing: border-box;
    }

    .project__image {
      margin: 0 0 22px;
      &--wide {
        width: 316px;
        height: 149px;
      }

      &--high {
        width: 316px;
        height: 203px;
      }
    }

    .project__features-list {
      padding-left: 0;
    }

    .project__feature {
      font-size: 16px;
    }

    .project__link {
      padding-right: 0;
      padding-left: 35px;
      color: $main-purple;
      font-size: 16px;

      &:first-of-type {
        margin-right: 10px;
      }

      &--result {
        background-image: url('../../img/eye.svg');
        background-size: 30px 24px;
        background-position: 0 5px;
        background-repeat: no-repeat;
      }

      &--source {
        background-image: url('../../img/code.svg');
        background-size: 24px;
        background-position: 0 5px;
        background-repeat: no-repeat;
      }

      &:hover {
        background-position: 0 5px;
      }
    }
  }
}

@media (max-width: $tablet-width-breakpoint) {
  .project {
    flex-direction: column;

    .project__info {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 0;
    }

    .project__image-container {
      width: 100%;
    }

    .project__title {
      margin-bottom: 15px;
    }

    .project__desc {
      margin-bottom: 20px;
    }

    .project__image {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .project__features-list {
      justify-content: center;
    }

    .project__feature {
      align-self: center;
      padding: 2px 8px;
      font-size: 12px;
      line-height: 18px;
    }

    .project__link {
      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
}
