.social-list {
  @include list-reset;
  display: flex;
  font-size: 0;
  line-height: 0;

  .social-list__item {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-list__link {
    display: block;
    width: 32px;
    height: 32px;

    &:focus {
      outline: none;
    }
  }

  .social-list__link:hover .social-list__icon,
  .social-list__link:focus .social-list__icon {
    fill: $bronze;
  }

  .social-list__link:active .social-list__icon {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width-breakpoint) {
  .social-list {
    flex-direction: column;

    .social-list__item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
