.works {
  @include desktop-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;

  .works__title {
    flex-basis: 100%;
    margin-bottom: 75px;

    &::before {
      background-image: url('../../img/portfolio.svg');
    }

    &::after {
      content: 'Projects';
    }
  }

  .works__item {
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 4%;
    }
  }
}

@media (max-width: 1000px) {
  .works {
    .works__item:nth-child(2n) {
      margin-right: 2%;
    }
  }
}

@media (max-width: $laptop-width-breakpoint) {
  .works {
    .works__title {
      margin-bottom: 30px;
    }

    .works__item:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet-width-breakpoint) {
  .works {
    @include mobile-padding;
  }
}
